body {
    background-color: rgb(44, 40, 34) !important;
}

.customContainer {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 0 20px 30px 20px;
}

.avataContainer div {
    display: flex;
    justify-content: center;
}

.topSection,
.middleSection,
.bottomSection {
    margin-left: 10px;
    margin-right: 10px;
}

.experience,
.education {
    margin-top: 40px
}

.avataContainer div {
    display: flex;
    justify-content: center;
}



.headlineTitle h1 {
    text-align: center;
    transform: translateY(-50px);
    text-transform: uppercase;
    font-size: medium;
    
}

.headlineTitle span {
    color:black;
    font-weight: bold;
    letter-spacing: 16px;
    text-align: center;
    font-size: x-large;
    
}

/* hr styling */
hr {
    border-color: rgb(44, 40, 34) !important;
    border-top: 7px solid rgba(0,0,0,.1);
    border-top-width: 7px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
}



hr.firstHr {
    transform: translateY(-30px);
}

.experience hr {
    margin-right: 30px;
}


/* ==== Bottom Parts ==== */
.sectionTitle {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.subSectionBox {
    margin: 20px 0;
}

/* Education */
.education .subSectionBox {
    margin-right: 20px;
    align-items: center;
}

.education .subSectionBox div:first-child>p {
    font-weight: bold;
    color: #FA9C90;
}




/* Experience */
.experience .subSectionBox div.row {
    align-items: center;
}

.experience div.subSectionBox div.col-3 p:first-child {
    color: #FA9C90;
}

p.year {
    font-weight: lighter;
    color: rgb(44, 40, 34) !important;
    font-style: italic;
}

.experience .jobTitle {
    font-weight: bold;
    color: black;
}

/* contact */
.contact i {
    font-size: 20px;
    color: #34af95;
    font-size: 20px;
    margin-right: 5px;
}

/* skills */
.technicalSkills p,
.softSkills p {
    
    padding: 10px 5px;
    border-radius: 10px;
    color: black;
    text-align: center;
}



.right {
    text-align: right;
}

/* project sections */
.projectSection {
    width: 600 px;
        height: 800 px;
        float: left;
}
      
   


/* fun fact section */
.funFact {
    justify-content: space-between;
}

.funFact span {
    padding-right: 10px;
    color: #34af95;
    font-size: 20px;
}
/* line */
.vl {
        border-left: 6px solid #5C5955;
        height: 500px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 0;
      }
#left main {
    width: 300 px;
    height: 800 px;
    float: left;
}
#right main {
    width: 300 px;
    height: 800 px;
    float: right;
}





/* MEDIA QUERIES */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .experience p.description {
        display: none;
    }

    .experience hr {
        margin-right: 0;
    }

    .education .subSectionBox {
        margin-right: 0;
    }

    .experience .jobTitle {
        float: right;
    }
}