.nonProfitContainer {
    margin: 0px 0px;
    background-color: #FA9C90;
    }
    
    .logoContainer {
        background-image: url("../images/finalBook.png") ;
        display: flex;
        justify-content: center;
        background-size: cover; 
        position: relative;
    }
    
   
    
    
    div#nonProfitNav>ul.navbar-nav {
        margin: 0 auto;
    }
    
    .nonProfitNav li.nav-item a {
        margin: 0 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: orangered;
    }
    
    .nonProfitNav li.nav-item a:hover {
        background-color: orangered;
        color: white
    }
    
    .aboutDiv {
        height: auto;
        background-color: white;
        margin: 20px 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-weight: lighter;
        
    }
    
    .sitemapDiv {
        height: auto;
        background-color: teal;
        margin: 20px 0;
        position: relative;
        justify-content: center;
        text-align: center;
    }
    
    .styleGuideDiv {
        height: 500px;
        background-color: purple;
        margin: 20px 0
    }

    .userPersonaDiv {
        height: 500px;
    }

    .wireframesDiv {
        height: 500px;
    }

    .prototypesDiv {
        height: 500px;
    }
    
    .resumeBtnContainer {
        display: flex;
        justify-content: center;
    }
    
    /* end note section */
    .endNoteSection {
        text-align: center;
    }
    
    .endNoteSection p:first-of-type {
        text-decoration: underline;
        color: orangered;
    }
    
    .endNoteSection p span {
        color: orangered;
        font-weight: bold;
    }
    
    .endNoteSection .resumeBtn {
        border: 1px solid orangered;
        color: orangered;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .endNoteSection .resumeBtn:hover {
        background-color: orangered;
        border: 1px solid transparent;
        color: white
    }
    
    
    
    
    /* === Media Queries ==== */
    @media only screen and (max-width: 768px) {
        .logo {
            width: 50%;
            height: auto
        }
    
        .nonProfitNav {
            margin: 0 auto;
            justify-content: center !important;
    
        }
    
        .nonProfitNav li.nav-item {
            text-align: center;
        }
    }